.input {
	width: 90%;
	padding: 14px 16px;
	margin-bottom: 15px;
	border: 2px solid #6b6869;
	border-radius: 22px;
	font-size: 20px;
	transition:
		border 0.3s,
		box-shadow 0.3s;
}

.input:focus {
	outline: none;
	border-color: #1a0219;
	box-shadow: 0 0 8px rgba(58, 18, 57, 0.5);
}
