.li {
	display: flex;
	align-items: center;
	gap: 8px;
	padding: 8px 0;
	color: #575555;
	font-size: 20px;
	max-width: 100%;
}

.titleContainer {
	flex: 1;
	min-width: 0;
	overflow: hidden; /* ключевой момент */
}

.title {
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: pointer;
	color: inherit;
	text-decoration: none;
}
