.container {
	padding: 20px;
}

.input {
	margin-bottom: 10px;
	padding: 5px;
	width: 300px;
}

.todos {
	display: flex;
	gap: 10px;
	margin-bottom: 20px;
}

.button {
	padding: 5px 10px;
	cursor: pointer;
}
