.container {
	display: flex; /* меняем grid на flex для более предсказуемой ширины */
	flex-direction: column;
	align-items: center;
	max-width: 600px;
	width: 100%; /* чтобы контейнер растягивался на ширину */
	margin: 50px auto;
	padding: 20px;
	background: #85818451;
	border-radius: 16px;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
	font-family: 'Inter', sans-serif;
}

ul {
	width: 100%; /* обязательно */
	padding: 0;
	margin: 0;
	list-style: none;
}
